<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Corona Statistics</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Coronavirus - Country Statistics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="posts" class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Country</th>
                    <th>Total Cases</th>
                    <th>Active Cases</th>
                    <th>Total Deaths</th>
                    <th>New Cases</th>
                    <th>New Deaths</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts.page}">
                    <td th:text="${post.id}">Id</td>
                    <td th:text="${post.country_text}">Country</td>
                    <td th:text="${post.total_cases_text}">Total Cases</td>
                    <td th:text="${post.active_cases_text}">Active Cases</td>
                    <td th:text="${post.total_deaths_text}">Total Deaths</td>
                    <td th:text="${post.new_cases_text}">New Cases</td>
                    <td th:text="${post.new_death_text}">New Deaths</td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${posts.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!posts.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/coronastats?pageNumber=' + ${posts.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${posts.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == posts.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'/coronastats?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!posts.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/coronastats?pageNumber=' + ${posts.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>